.project-kanban {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.project-kanban-status {
    align-self: stretch;
    min-width: 14em;
}

.project-kanban-status-header {
    display: flex;
    flex-direction: row;
    padding: 0.25em;
}

.project-kanban-status-body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.project-kanban-status-name {
    font-weight: bold;
}

.project-kanban-card-partner {
    font-weight: bold;
}

.project-kanban-status-name {
    align-self: center;
    flex: 1.0;
    margin-bottom: 0;
}

.project-kanban-status-body {
    height: 100%;
}

.project-kanban-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    cursor: pointer;
}

.project-kanban-card-tag {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}